{% extends "base.html" %}
{%include "header.html"%}
{%include "flash.html"%}
{% block content %}

<div class="home_container">


 <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12"> 
     <h1 class="home_headers">Categories</h1>


{% for i in categories %}
<a class="categories" href='{{url_for('showCategoryItems',category_name = i.name)}}'>
<div >

<p>{{i.name}}</p>

</div>
</a>
{% endfor %}

</div> 

<div class="col-md-8 col-sm-6 col-xs-12">
{%if 'username' in session %}
<a href="{{url_for('newCatalogItem')}}">
    <button type="button" class="btn btn-outline-danger waves-effect" >Add Item</button>
</a>
{%endif%}
<h1 class="home_headers">Latest Items</h1>
{% for i in latestItems %}
<a class="items" href='{{url_for('showItemsDescription',category_name=i.Category.name,item_name=i.Item.name)}}'>
<div>

<p><span>Item Name: </span>{{i.Item.name}}</p>
<p><span>Category: </span>{{i.Category.name}}</p>
<p> <span>Last Update: </span>{{i.Item.last_modification}} </p>

</div>
</a>
{% endfor %}
</div>
</div>


</div>

</div>


{% endblock %}